---
import { languages } from "../i18n/ui";
import { getLangFromUrl, useTranslatedPath } from "../i18n/utils";
import { cn } from "@lib/utils";

const selectedLang = getLangFromUrl(Astro.url);
const translatePath = useTranslatedPath(selectedLang);
---
<ul class="flex space-x-2">
  {Object.entries(languages).map(([lang, label]) => (
    <li>
      <a href={translatePath("/", lang)}>
        <img
          class={cn(
            "h-6 w-8 transition-opacity duration-300 ease-in-out object-cover rounded hover:opacity-75",
            lang === selectedLang ? "opacity-75" : "opacity-25",
          )}
          src={lang === "en" ? "/porfolio/usa.svg" : "/porfolio/brazil.svg"}
          alt={label}
        />
      </a>
    </li>
  ))}
</ul>
